img {
  border-radius: 10px;
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1.5rem; /* większa czcionka */
  text-align: center; /* centrowanie */
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.delay-150 {
  animation-delay: 0.15s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-450 {
  animation-delay: 0.45s;
}
