/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Animacja fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.delay-150 {
  animation-delay: 0.15s;
}

.delay-300 {
  animation-delay: 0.3s;
}
